@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}    


header nav{
    background-image: url(img/banner.png);
    background-size: contain;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120px;
    top: 0;
    left: 0;
    padding: 28px 20px;
    align-items: center;
    transition: all .50s ease;
}    
.navbar{
    display: flex;
}

.navbar a{
    background-color:rgb(245, 245, 220);
    color: #ff00ff;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 25px;
    margin: 0px 30px;
    transition: all .50s ease;
    border-radius: 30px;
}

.navbar a:hover{
    background-color: #ffde59;
    color: black;
    transition: all .50s ease;
    
}

.navbar li:hover{
    transform: scale(1.1);
    transition: all .50s ease;
}



.logo{
    background-color: rgba(245, 245, 220, 0.63);
    border-radius: 100%;
    display: flex;
    align-items: center;
    width: 100px;
    cursor: pointer;
}    

.logo:hover{
    transform: scale(1.1);
    transition: all .50s ease;
}    

.slider-box{
    width: 600px;
    margin: 0 auto;
    overflow:hidden;
    border-radius: 20px;
}    

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 25s infinite;
}    

.slider-box li{
    width: 50%;
    list-style: none;
    position: relative;
}    

.slider-box img{
    width: 300px;
}    

@keyframes slide {
    0% {margin-left: 0;}
    20%{margin-left: 0;}   
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}

    100%{margin-left: -400%;}
}    



.fondo-amarillo{
    background-color: #ffde59;
}    

.fondo-fucsia{
    background-color: #ff00ff;
}    



.content-logo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-logo p{
    width: 50%;
}

.content-logo h2{
    margin-bottom: 10px;
}


.content-banner{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner img{
    margin: 20px;
    width: 100%;
}

.content-banner p{
    width: 50%;
}

.content-banner h2{
    margin-bottom: 15px;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-weight: bold;
    background: linear-gradient(15deg, #ffde59be 60%, #ff00ffb0);
}


.content-eslogan{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content-eslogan h2{
    margin-bottom: 40px;
}

.content-eslogan p{
    /* font-family: "Chewy", system-ui; */
    font-family: "Agbalumo", system-ui;
    font-size: 60px;
}



.content-tarjetaDePresentacion{
    margin:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-tarjetaDePresentacion p{
    width: 70%;
}

.content-tarjetaDePresentacion img{
    width: 600px;
    margin: 15px;
}
